NODE_ENV=development
PORT=3002
LOG_LEVEL=info

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=vtt
POSTGRES_PASSWORD=vtt
POSTGRES_DB=campaign_db
POSTGRES_SSL=false

RABBITMQ_URI=amqp://vtt:vtt@localhost:5672
RABBITMQ_EXCHANGE_PREFIX=vtt

JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nYOUR_PUBLIC_KEY_HERE\n-----END PUBLIC KEY-----"
JWT_ISSUER=vtt-platform

OTEL_SERVICE_NAME=campaign-service
OTEL_ENABLED=false
